@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&family=Source+Serif+Pro:wght@300&display=swap");

.menu_container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  height: max-content;
  background-image: linear-gradient(
      to bottom,
      rgba(114, 91, 168, 0.5) 0%,
      rgba(131, 73, 114, 0.5) 100%
    ),
    url(https://media.istockphoto.com/photos/pan-fried-duck-picture-id1081422898?k=6&m=1081422898&s=612x612&w=0&h=an8cEitB_Ll6FKfgT6FKFHuxK7UCKUOyxrqPYEbcgIs=);
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.menu_main {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 15px;
}

.menu_main div {
  margin: 0;
}

.logo_container {
  width: 75%;
}

.menu_main .nav_bar_container {
  width: 18%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* background-color: #e6e4e4; */
  background-image: linear-gradient(
    to bottom,
    rgba(92, 69, 145, 0.5) 0%,
    rgba(109, 54, 93, 0.5) 100%
  );
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s;
  border: none;
}

.menu_main .nav_bar_container:hover {
  background-color: #b8b5b5;
}

.logo_container .logo {
  font-family: "MonteCarlo", cursive;
  font-size: 45px;
  font-weight: bold;
  margin: 0;
  margin-left: 2px;
  color: #fff;
}

.menu {
  display: none;
  transition: all 0.3s;
  width: 100%;
  /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
}

.menu.expanded {
  display: block;
}
.menu ul {
  display: flex;
  flex-flow: column wrap;
}

.menu ul li {
  list-style: none;
  margin: 7px 10px;
  text-align: center;
  padding: 5px;
}

.menu ul li a {
  text-transform: capitalize;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.menu ul li h2 {
  color: #fff;
  font-family: "MonteCarlo", serif;
  font-size: 30px;
  font-weight: bold;
}
