@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&family=Source+Serif+Pro:wght@300&display=swap");

:root {
  --icons-color: "#902EA9";
  --main-background-image: linear-gradient(
      to bottom,
      rgba(114, 91, 168, 0.5) 0%,
      rgba(131, 73, 114, 0.5) 100%
    ),
    url(https://media.istockphoto.com/photos/pan-fried-duck-picture-id1081422898?k=6&m=1081422898&s=612x612&w=0&h=an8cEitB_Ll6FKfgT6FKFHuxK7UCKUOyxrqPYEbcgIs=);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

/* Presentation section */

.main_presentation_container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 0.5rem 0;
}

.presentation_text {
  width: 100%;
  text-align: center;
  padding: 1.5rem 0;
  color: rgba(97, 73, 153, 0.9);
}

.presentation_text h3 {
  font-family: "Source Serif Pro", serif;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: capitalize;
}

.presentation_options {
  width: 100%;
  text-align: center;
  margin: 0.8rem 0;
}

.presentation_options button {
  border: none;
  padding: 1rem;
  width: 130px;
  border-radius: 25px;
  cursor: pointer;
  margin: 2px 5px;
  background-image: linear-gradient(
    to bottom,
    rgba(114, 91, 168, 0.5) 0%,
    rgba(131, 73, 114, 0.5) 100%
  );
  color: #fff;
  transition: all 0.5s;
}

.presentation_options button:hover {
  transform: scale(1.1);
  background-image: linear-gradient(
    to top,
    rgba(92, 69, 145, 0.5) 0%,
    rgba(109, 54, 93, 0.5) 100%
  );
}

.restaurant_history_text {
  text-align: center;
}
.restaurant_history_text h1 {
  font-family: "MonteCarlo", cursive;
  font-size: 2.9rem;
  color: rgba(97, 73, 153, 0.9);
}

.restaurant_history_text p {
  font-family: "Source Serif Pro", serif;
  font-size: 1.1rem;
  font-weight: 300;
  text-align: center;
  padding: 0.2rem 0;
  color: rgba(97, 73, 153, 0.9);
}

.presentation_images {
  width: 100%;
  height: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0.8rem;
  margin: 0.5rem 0;
}

.presentation_images picture {
  width: 45%;
  height: 90%;
  text-align: center;
  transition: all 0.3s ease;
}

.presentation_images picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.presentation_images picture:hover {
  transform: scale(1.1);
  margin: 0 0.3rem;
}

/* Carrusel section */

.carrousel_wrapper {
  position: relative;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

.arrow {
  position: absolute;
  z-index: 200;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.left_arrow {
  top: 50%;
  left: 5px;
}

.right_arrow {
  top: 50%;
  right: 5px;
}

/* .swiper-pagination-bullet {
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: red;
} */

.slide_element {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 0;
  background-size: cover;
  background-position: center;
  color: #fff;
  z-index: 100;
}

.slide_element_text {
  text-align: center;
  width: 94%;
}

.slide_element_text h2 {
  font-family: "MonteCarlo", cursive;
  font-size: 2.9rem;
}

.slide_element h2 h4 {
  margin: 0.5rem 0;
}

.slide_element_text p {
  margin: 1rem 0;
  font-size: 17px;
}

/* Platillos section  */

.platillos_section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  gap: 2rem;
  background-color: #fff;
  margin-top: 0.5rem;
}

.platillos_element {
  text-align: center;
  padding: 0.5rem;
  color: rgba(51, 36, 83, 0.9);
  font-family: "Source Serif Pro", serif;
}

.platillos_element picture {
  height: 100px;
}

.platillos_element picture img {
  object-fit: cover;
  width: 210px;
  transition: all 0.4s ease-in-out;
}

.platillos_element picture img:hover {
  transform: scale(1.1);
  margin-bottom: 0.1rem;
}

.platillos_element h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.5rem 0;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.platillos_description {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 0.2rem;
  margin-top: 2rem;
  text-align: center;
  width: 100%;
  padding: 0.5rem 0;
}

.platillos_description h1 {
  font-family: "MonteCarlo", cursive;
  font-size: 2.7rem;
  margin: 0.5rem 0;
  text-transform: capitalize;
  color: rgba(97, 73, 153, 0.9);
}

.platillos_description_logo {
  width: 90%;
  height: 80px;
  text-align: center;
  margin: 0.5rem 0;
}

.platillos_description_logo img {
  object-fit: cover;
  width: 65px;
}

.platillos_description_text {
  width: 100%;
  padding: 0.2rem;
  margin-bottom: 0.9rem;
}

.platillos_description_text p {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  padding: 0.2rem 0;
  margin-bottom: 1.5rem;
  color: rgba(97, 73, 153, 0.9);
}

/* Contact footer section  */

.contact_footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(46, 26, 94, 0.5) 0%,
      rgba(73, 19, 58, 0.5) 100%
    ),
    url(/src/assets/food/meat-ga03697fd2_1280.jpg);

  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 0.8rem 0;
}

.contact_footer .contact_footer_main {
  text-align: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.contact_footer_main h2 {
  font-size: 18px;
}

.contact_footer_main button {
  margin: 0.5rem 0;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 16px;
  background-image: linear-gradient(
    to bottom,
    rgba(100, 72, 167, 0.5) 0%,
    rgba(126, 54, 105, 0.5) 100%
  );
  color: #fff;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact_footer .info {
  width: 100%;
}

.contact_footer .info h2 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.contact_icons {
  width: 50%;
  display: flex;
  flex-direction: row wrap;
  height: 120px;
  gap: 1rem;

  align-items: center;
  justify-content: center;
}

.contact_icons .contact_icon {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 25px;
  text-align: center;
  align-content: center;
  width: 50px;
  height: 50px;
  transition: all 0.2s ease-in-out;
}

.contact_icon:hover {
  transform: scale(1.2);
  background-color: #dad8d8;
}

.location_container {
  width: 250px;
  padding: 10px 5px;
  text-align: center;
}

.location_container iframe {
  object-fit: cover;
}

/* Gallery section  */

.gallery_main{
  display: flex;
  position: relative;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 4%;
  background-image: 
  linear-gradient(
      to bottom,
        rgba(23, 15, 53, 0.5) 0%,
        rgba(12, 10, 11, 0.5) 100%
    ),
      url(/src/assets/gallery/main_back.webp);
  background-position: center;
  color: #fff;
  height: 350px;
  z-index: 2;
}

.triangle{
  width: 0;
  height: 0;
  border-left: 25vw solid transparent;
  border-right: 25vw solid transparent;
  border-bottom: 40px solid #fff;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.gallery_carrusel{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  height: 200px;
}

@media (min-width: 550px) {
  /* Platillos Section  */
  .platillos_section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .platillos_description {
    grid-column: span 2;
  }
}

@media (min-width: 768px) {
  /* Presentation section  */

  .main_presentation_container {
    align-items: normal;
    flex-flow: row wrap;
  }

  .presentation_text {
    width: 100%;
  }

  .restaurant_history_text {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 50%;
    order: 2;
    height: 400px;
  }

  .presentation_images {
    width: 50%;
    height: 380px;
  }

  /* Platillos section  */

  .platillos_section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .platillos_element {
    grid-column: span 1;
  }

  .platillos_element picture {
    height: 90px;
  }

  .platillos_element picture img {
    width: 200px;
  }

  .platillos_element h2 {
    font-size: 1.2rem;
  }

  .platillos_description {
    grid-column: span 3;
  }
}
